.logoText {
    color: white;
    text-align: center;
}

@function getSpread($fontSize) {
    $spreadReducer: 2;
    @return $fontSize / $spreadReducer;
}

.small {
    $size: 16px;
    font-size: $size;
    text-shadow: 0 0 getSpread($size) white;
}

.medium {
    $size: 24px;
    font-size: $size;
    text-shadow: 0 0 getSpread($size) white;
}

.large {
    $size: 36px;
    font-size: $size;
    text-shadow: 0 0 getSpread($size) white;
}