.background {
    background: hsl(223, 31%, 13%);
    background-image: conic-gradient(
        from 0deg at 50% 50%,
        blue,
        purple,
        purple,
        blue
    );
    background-blend-mode: multiply;
    color: white;
    min-block-size: 100vh;
}