.contentWrapper{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100vh;
}

.playerDisplayWrapper{
  padding: 0 16px;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  transition: 150ms;
  padding:16px;
}

.buttonContainerActive {
  padding: 16px 0 0 0;
}
