$color_blue_1: #2F2059;
$color_blue_2: #422792;
$color_blue_3: #542FBE;
$color_blue_4: #6A47D0;

$color_logo_1: #FBB040;
$color_logo_2: #F9ED32;
$color_text_light: #FFFFFF;
$color_text_dark: black;

//Outdated
$color_white: rgb(216, 216, 226);
$color_teal: teal;
$color_pink: rgb(245, 117, 138);

$color_positive: rgb(48, 218, 48);
$color_negative: rgb(255, 83, 83);